
* {
    box-sizing: border-box;
  }
  

header h1 {
    font-size: 50px;
}

#searchBar {
    display: grid;
    grid-template-columns: auto 44px;
    gap:5px;
    margin-bottom: 20px;
    /* grid-template-rows: 10px; */
    
}

#searchText {    
    width:100%;
    grid-column: 1/span 1;
}


#currentDeg {
    top:-47px;
    right: -30px;
    font-size: 60px;
}
